<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harikrishnaa.appartmentmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppartmentLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sign_up" />
        <activity android:name=".Date_and_Amount" />
        <activity android:name=".From_date" />
        <activity android:name=".To_date" />
        <activity android:name=".Notice" />
        <activity android:name=".User_notice" />
        <activity android:name=".User_queries" />
        <activity android:name=".Queries1"></activity>
    </application>

</manifest>